fastapi
uvicorn
pandas
openpyxl
python-multipart
requests
pydantic
openai
python-dotenv
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
playwright
qdrant-client
